<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Course not found</title>
    </head>
    <body>
    	<h1>Course not found</h1>
       	<h3 th:text="'ID Course = ' + ${id_course}">Course ID</h3>
    </body>
</html>
